## What is Python?
Python is a popular programming language. It was created by Guido van Rossum, and released in 1991.

It is used for:

* web development (server-side)
* software development
* mathematics
* system scripting

## What can Python do?
* Python can be used on a server to create web applications.
* Python can be used alongside software to create workflows.
* Python can connect to database systems. It can also read and modify files.
* Python can be used to handle big data and perform complex mathematics.
* Python can be used for rapid prototyping, or for production-ready software development.

## Why Python?
* Python works on different platforms (Windows, Mac, Linux, Raspberry Pi, etc).
* Python has a simple syntax similar to the English language.
* Python has syntax that allows developers to write programs with fewer lines than some other programming languages.
* Python runs on an interpreter system, meaning that code can be executed as soon as it is written. This means that prototyping can be very quick.
* Python can be treated in a procedural way, an object-oriented way or a functional way.

## Python Syntax compared to other programming languages
* Python was designed for readability, and has some similarities to the English language with influence from mathematics.
* Python uses new lines to complete a command, as opposed to other programming languages which often use semicolons or parentheses.
* Python relies on indentation, using whitespace, to define scope; such as the scope of loops, functions and classes. Other programming languages often use curly-brackets for this purpose.

In [1]:
# My first code
print("Hello, World...!")

Hello, World...!

## Keywords List

In [2]:
import keyword

print(keyword.kwlist)

len(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

35

## Python Data Types

1. Numeric data types: int, float, complex.
2. String data types: str.
3. Sequence types: list, tuple, range.
4. Binary types: bytes, bytearray, memoryview.
5. Mapping data type: dict.
6. Boolean type: bool.
7. Set data types: set, frozenset.

## Identifying class/type of variable

In [3]:
x = 10
print("value of x:",(x))
print ("type of x:",type(x))

print("\n")

y = 12.9
print("value of y:",(y))
print("type of y:",type(y))

print("\n")

z = 9-3j
print("value of z:",(z))
print("type of z:",type(z))

print("\n")

a = "hii hello"
print("value of a:",(a))
print("type of a:",type(a))

value of x: 10
type of x: <class 'int'>


value of y: 12.9
type of y: <class 'float'>


value of z: (9-3j)
type of z: <class 'complex'>


value of a: hii hello
type of a: <class 'str'>

## String/integer to float conversion:

In [4]:
print("integer to float:")
value = 100
print(value)
print(type(value))

value_1 = float(value)
print(value_1)
print(type(value_1))

print("\n")

#string to float conversion
#if there is an integer in string format only then we can convert it into float or integer format
#first convert string into integer and then into float or you can directly convert string into float


print("string to float:")
str1 = "567"
print(str1)
print(type(str1))

str2 = int(str1)
print(str2)
print(type(str2))

str3 = float(str2)
print(str3)
print(type(str3))

integer to float:
100
<class 'int'>
100.0
<class 'float'>


string to float:
567
<class 'str'>
567
<class 'int'>
567.0
<class 'float'>

## Float/string to integer conversion

In [5]:
print("float to integer typecasting:")
val1 = 250.5
print(val1)
print(type(val1))

val2 = int(val1)
print(val2)
print(type(val2))

print("\n")

print("string to integer typecasting:")
val3 = "250"
print(val3)
print(type(val3))

val4 = int(val3)
print(val4)
print(type(val4))

float to integer typecasting:
250.5
<class 'float'>
250
<class 'int'>


string to integer typecasting:
250
<class 'str'>
250
<class 'int'>

## String-float-integer

In [6]:
# to convert float value from string format ,first convert string into float and then into integer
# if there is a float value in string format then you can't convert it directly into integer
# for that you have to first convert the string into float and then into integer

str1 = "120.9"
print(str1)
print(type(str1))

str2 = float(str1)
print(str2)
print(type(str2))

str3 = int(str2)
print(str3)
print(type(str3))

120.9
<class 'str'>
120.9
<class 'float'>
120
<class 'int'>

## Integer to string, Float to string, Complex to string

In [7]:
#integer to string

print("integer to string:")
a = 100
print(a)
print(type(a))

b = str(a)
print(b)
print(type(b))

#float to string

print("\n")

print("float to string:")
c = 100.9
print(c)
print(type(c))

d = str(c)
print(d)
print(type(d))

#complex to string

print("\n")

print("complex to string")
e = 4+5j
print(e)
print(type(e))

f = str(e)
print(f)
print(type(f))

integer to string:
100
<class 'int'>
100
<class 'str'>


float to string:
100.9
<class 'float'>
100.9
<class 'str'>


complex to string
(4+5j)
<class 'complex'>
(4+5j)
<class 'str'>

## Complex function

In [8]:
a = complex(3,4)
print(a)
print(type(a))

print("the real part:")
print(a.real)

print("the imaginary part")
print(a.imag)

print("\n")

b = complex(9)
print(b)
print(type(b))

print("the real part")
print(b.real)

print("the imaginary part")
print(b.imag)

(3+4j)
<class 'complex'>
the real part:
3.0
the imaginary part
4.0


(9+0j)
<class 'complex'>
the real part
9.0
the imaginary part
0.0

In [9]:
#assignment-complex number using float value

a = 8.9
print(a)
print(type(a))

b = complex(a)
print(b)
print(type(b))

print(b.real)
print(b.imag)

8.9
<class 'float'>
(8.9+0j)
<class 'complex'>
8.9
0.0

In [10]:
#complex number using bool

print(complex(True,False))

(1+0j)

## Bool function

In [11]:
print(int(True))
print(int(False))
print("\n")

print(float(True))
print(float(False))
print("\n")

print(str(True))
print(str(False))
print("\n")

print(complex(True))
print(complex(False))

1
0


1.0
0.0


True
False


(1+0j)
0j

## String slicing

In [12]:
str1 = 'Hii My Name Is Rohit'
print(len(str1))
print(str1)
print(str1[7])
print(str1[-20])
print(str1[0])
print(str1[0:])
print(str1[:19])
print(str1[::-1])

20
Hii My Name Is Rohit
N
H
H
Hii My Name Is Rohit
Hii My Name Is Rohi
tihoR sI emaN yM iiH

In [13]:
l = ['p','y','t','h','o','n']
print(l)
print(type(l))

['p', 'y', 't', 'h', 'o', 'n']
<class 'list'>

## Immutability

In [14]:
x = 609
y = x

print(id(x),"\n")
print(id(y),"\n")
print(x is y)

3111092380560

3111092380560

True

In [15]:
x = 256
print("id of x:",id(x),"\n")

y = 256
print("id of y:",id(y),"\n")
  
print(x is y)

id of x: 140723651080968

id of y: 140723651080968

True

In [16]:
x = 123.12
print("id of x:",id(x),"\n")

y = 123.12
print("id of y:",id(y),"\n")
print(x is y)

id of x: 3111092380752

id of y: 3111092380208

False

## Bytes

1. You cannot change the content in bytes
2. Bytes are immutable

In [17]:
a = [1,2,3,4,5,6,7,8]
print(a,"\n")

b = bytes(a)
print(b)

for i in b:
    print(i)

#b[3]=5
#you cannot change the value once it is created in bytes

[1, 2, 3, 4, 5, 6, 7, 8]

b'\x01\x02\x03\x04\x05\x06\x07\x08'
1
2
3
4
5
6
7
8

## Bytearray

1. Bytes and Bytesarray are similar
2. You can change the content in bytearray
3. Bytearray are mutable

In [18]:
a = [1,2,3,4,5,6,7,8]
print(a,"\n")

b = bytearray(a)
print(b,"\n")

b[5] = 23

print(b)

for i in b:
    print(i)

[1, 2, 3, 4, 5, 6, 7, 8]

bytearray(b'\x01\x02\x03\x04\x05\x06\x07\x08')

bytearray(b'\x01\x02\x03\x04\x05\x17\x07\x08')
1
2
3
4
5
23
7
8

## List
There are 11 functions in list as follows:-
1. append
2. clear
3. copy
4. count
5. extend
6. index
7. insert
8. pop
9. remove
10. reverse
11. sort

In [19]:
a = [1,2,3,4,5,6,7,8]
print(a)
print(type(a),"\n")

b = [1.2,2.3,3.4,4.5,5.6,6.7,7.8,8.9]
print(b)
print(type(b),"\n")

c = ["apple","mango","banana","orange"]
print(c)
print(type(c),"\n")

d = [1,2,1.2,2.3,"apple","mango"]
print(d)
print(type(d))

[1, 2, 3, 4, 5, 6, 7, 8]
<class 'list'>

[1.2, 2.3, 3.4, 4.5, 5.6, 6.7, 7.8, 8.9]
<class 'list'>

['apple', 'mango', 'banana', 'orange']
<class 'list'>

[1, 2, 1.2, 2.3, 'apple', 'mango']
<class 'list'>

In [20]:
a = [1,2,3,4,5,6,7,8,9,10]

print(a,'\n')

print(a[1])

a[-10:]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

2

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [21]:
a = [1,2,3,4,5,6,7,8,9,10]
print(type(a))

print(a[4])

<class 'list'>
5

In [22]:
#Append function
a = [1,2,3,4,5,6,7,8,9,10]

a.append(11)
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [23]:
#Remove function
a = [1,2,3,4,5,6,7,8,9,10,11]
print(a)
a.remove(11)
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [24]:
#Copy function
a = [1,2,3,4,5,6,7,8,9,10,11]
a.copy()

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [25]:
#Extend function
print(a)
a.extend(a)
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [26]:
#Index function
a = [1,2,3,4,5,6,7,8,9,10]
print(a)
print(a.index(9))
print(a[9])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
8
10

In [27]:
#Insert function
a = [1,2,3,4,5,6,7,8,9,10]
print(a)
a.insert(9,123)
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 123, 10]

In [28]:
#Pop function
# it removes the given position element in your list & if not given it removes the last element
a = [1,2,3,4,5,6,7,8,9,10]

print(a)
a.pop(0)
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[2, 3, 4, 5, 6, 7, 8, 9, 10]

In [29]:
#Reverse function
a = [1,2,3,4,5,6,7,8,9,10]
print(a)
a.reverse()
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [30]:
#Sort function
a = [9,5,4,3,2,6,7,8,1]
print(a)
#a.sort(reverse=True)
a.sort(reverse = False)
print(a)

[9, 5, 4, 3, 2, 6, 7, 8, 1]
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [31]:
a = [1,2,3,4,5,6,7,8,9,10]
print(a)
a[1:3] = ["rohit", "sahil"]
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 'rohit', 'sahil', 4, 5, 6, 7, 8, 9, 10]

In [32]:
#count function
a = [1,2,3,4,5,6,7,8,8,8,8,9]
a.count(8)

4

## Tuple

1. Tuple is immutable
2. To operate on tuple firstly you have to convert it into list

In [33]:
#List to tuple
a = [1,2,3,4,5,6,7,8,9]
print(a)
print(type(a))

b = tuple(a)
print(b)
print(type(b))

[1, 2, 3, 4, 5, 6, 7, 8, 9]
<class 'list'>
(1, 2, 3, 4, 5, 6, 7, 8, 9)
<class 'tuple'>

In [34]:
#Tuple to list
a = (1,2,3,4,5,6,7,8,9)
print(a)
print(type(a))

b = list(a)
print(b)
print(type(b))

(1, 2, 3, 4, 5, 6, 7, 8, 9)
<class 'tuple'>
[1, 2, 3, 4, 5, 6, 7, 8, 9]
<class 'list'>

In [35]:
# .append in tuple
# since tuple is immutable you can't change the value inside 
# to change the value you have to convert tuple into list and then make changes in it according to you 

a = ("apple","banana","mango","orange")
print(a)
print(type(a),"\n")

b = list(a)
print(b)
print(type(b),"\n")

b.append("grapes")
print(b,"\n")

c = tuple(b)
print(c)
print(type(c))

('apple', 'banana', 'mango', 'orange')
<class 'tuple'>

['apple', 'banana', 'mango', 'orange']
<class 'list'>

['apple', 'banana', 'mango', 'orange', 'grapes']

('apple', 'banana', 'mango', 'orange', 'grapes')
<class 'tuple'>

In [36]:
# .clear in tuple
# it clears all the elements in list
a = (10,20,30,40,50,60,70,80,90)
print(a)
print(type(a),"\n")

b = list(a)
print(b)
print(type(b),"\n")

b.clear()
print(b)

(10, 20, 30, 40, 50, 60, 70, 80, 90)
<class 'tuple'>

[10, 20, 30, 40, 50, 60, 70, 80, 90]
<class 'list'>

[]

In [37]:
# .copy in tuple
# it creates a copy of your elements
a = (10,20,30,40,50,60,70,80,90)
print(a)
print(type(a),"\n")

b = list(a)
print(b)
print(type(b),"\n")

b.copy()
print(b)

(10, 20, 30, 40, 50, 60, 70, 80, 90)
<class 'tuple'>

[10, 20, 30, 40, 50, 60, 70, 80, 90]
<class 'list'>

[10, 20, 30, 40, 50, 60, 70, 80, 90]

In [38]:
# .count in tuple
# it counts the one or duplicate elements in your list
a = (10,20,30,40,50,60,70,80,80,80,80,90)
print(a)
print(type(a),"\n")

b = list(a)
print(b)
print(type(b),"\n")

b.count(80)

(10, 20, 30, 40, 50, 60, 70, 80, 80, 80, 80, 90)
<class 'tuple'>

[10, 20, 30, 40, 50, 60, 70, 80, 80, 80, 80, 90]
<class 'list'>

4

In [39]:
# .extend in tuple
# you can combine your two lists using .extend
a = (10,20,30,40,50,60,70,80,90)
print(a)
print(type(a),"\n")

c = [100,110,120,130,140,150]

b = list(a)
print(b)
print(type(b),"\n")

b.extend(c)
print(b)

(10, 20, 30, 40, 50, 60, 70, 80, 90)
<class 'tuple'>

[10, 20, 30, 40, 50, 60, 70, 80, 90]
<class 'list'>

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120, 130, 140, 150]

In [40]:
# .index in tuple
# it gives the index of given value
a = (10,20,30,40,50,60,70,80,90)
print(a)
print(type(a),"\n")

b = list(a)
print(b)
print(type(b),"\n") 

b.index(50)

(10, 20, 30, 40, 50, 60, 70, 80, 90)
<class 'tuple'>

[10, 20, 30, 40, 50, 60, 70, 80, 90]
<class 'list'>

4

In [41]:
# .insert in tuple
# with this you can insert any value or element at any specified loction in list
a = (10,20,30,40,50,60,70,80,90)
print(a)
print(type(a),"\n")

b = list(a)
print(b)
print(type(b),"\n")

b.insert(9,"hi")
print(b)

b.insert(10,100)
print(b)

(10, 20, 30, 40, 50, 60, 70, 80, 90)
<class 'tuple'>

[10, 20, 30, 40, 50, 60, 70, 80, 90]
<class 'list'>

[10, 20, 30, 40, 50, 60, 70, 80, 90, 'hi']
[10, 20, 30, 40, 50, 60, 70, 80, 90, 'hi', 100]

In [42]:
# .pop in tuple
# it removes the given position element in your list & if not given it removes the last element
a = (10,20,30,40,50,60,70,80,90)
print(a)
print(type(a),"\n")

b = list(a)
print(b)
print(type(b),"\n")

b.pop()
print(b)

(10, 20, 30, 40, 50, 60, 70, 80, 90)
<class 'tuple'>

[10, 20, 30, 40, 50, 60, 70, 80, 90]
<class 'list'>

[10, 20, 30, 40, 50, 60, 70, 80]

In [43]:
# .remove in tuple
# with this you can remove any element in your list
a = (10,20,30,40,50,60,70,80,90)
print(a)
print(type(a),"\n")

b = list(a)
print(b)
print(type(b),"\n")

b.remove(80)
print(b)

(10, 20, 30, 40, 50, 60, 70, 80, 90)
<class 'tuple'>

[10, 20, 30, 40, 50, 60, 70, 80, 90]
<class 'list'>

[10, 20, 30, 40, 50, 60, 70, 90]

In [44]:
# .reverse in tuple
# it reverse your list
a = (10,20,30,40,50,60,70,80,90)
print(a)
print(type(a),"\n")

b = list(a)
print(b)
print(type(b),"\n")

b.reverse()
print(b)

(10, 20, 30, 40, 50, 60, 70, 80, 90)
<class 'tuple'>

[10, 20, 30, 40, 50, 60, 70, 80, 90]
<class 'list'>

[90, 80, 70, 60, 50, 40, 30, 20, 10]

In [45]:
# .sort in tuple
# it sorts your list in asscending order
a = (20,40,60,80,10,30,50,70,90)
print(a)
print(type(a),"\n")

b = list(a)
print(b)
print(type(b),"\n")

b.sort()
print(b,"\n")

# optional
# .reverse=True will sort the list descending
# .reverse=False will sort the list asscending
a = (20,40,60,80,10,30,50,70,90)
print(a)
print(type(a),"\n")

b = list(a)
print(b)
print(type(b),"\n")

b.sort(reverse=True)
print(b,"\n")


b.sort(reverse=False)
print(b,"\n")

(20, 40, 60, 80, 10, 30, 50, 70, 90)
<class 'tuple'>

[20, 40, 60, 80, 10, 30, 50, 70, 90]
<class 'list'>

[10, 20, 30, 40, 50, 60, 70, 80, 90]

(20, 40, 60, 80, 10, 30, 50, 70, 90)
<class 'tuple'>

[20, 40, 60, 80, 10, 30, 50, 70, 90]
<class 'list'>

[90, 80, 70, 60, 50, 40, 30, 20, 10]

[10, 20, 30, 40, 50, 60, 70, 80, 90]

## Set
* Set is un-ordered collection of elements
* It is mutale and growable
* it is unchangable
* { } represents a set
* Since it is un-ordered, index application is not applicable
* Duplicates are not allowed
 
 There are 18 methods in set function as follow:-
1.  add  
2.  clear
3.  copy
4.  difference
5.  difference_update
6.  discard
7.  intersection
8.  intersection_update
9.  isdisjoint
10. issubset
11. issuperset
12. mro
13. pop
14. remove
15. symmetric_difference
16. symmetric_difference_update
17. union
18. update

In [46]:
# .add in set
# with this we can add any element at any random position in set
a = {1,2,3,4,5,6,"apple",'banana','mango','orange',1.2,2.3,3.4}
print(a,"\n")

a.add("root")
print(a)

{1, 2, 3, 4, 5, 6, 'mango', 'orange', 1.2, 2.3, 3.4, 'banana', 'apple'}

{1, 2, 3, 4, 5, 6, 'mango', 'orange', 1.2, 2.3, 3.4, 'banana', 'apple', 'root'}

In [47]:
# .clear in set
# it clears your entire set 
a = {1,2,3,4,5,6,"apple",'banana','mango','orange',1.2,2.3,3.4}
print(a,"\n")

a.clear()
print(a)

{1, 2, 3, 4, 5, 6, 'mango', 'orange', 1.2, 2.3, 3.4, 'banana', 'apple'}

set()

In [48]:
# .copy in set
# it copies your entire set
a = {1,2,3,4,5,6,"apple",'banana','mango','orange',1.2,2.3,3.4}
print(a,"\n")

a.copy()

{1, 2, 3, 4, 5, 6, 'mango', 'orange', 1.2, 2.3, 3.4, 'banana', 'apple'}

{1, 1.2, 2, 2.3, 3, 3.4, 4, 5, 6, 'apple', 'banana', 'mango', 'orange'}

In [49]:
# .remove in set
# it removes a given element in set
# if given element is not there it will raise an error
a = {1,2,3,4,5,6,"apple",'banana','mango','orange',1.2,2.3,3.4}

a.remove('banana')
print(a)

{1, 2, 3, 4, 5, 6, 'mango', 'orange', 1.2, 2.3, 3.4, 'apple'}

In [50]:
# .discard in set
# it too removes the given element in set
# but it will not raise an error if given element is not there in set
a = {1,2,3,4,5,6,"apple",'banana','mango','orange',1.2,2.3,3.4}

a.discard("orange")
print(a)

{1, 2, 3, 4, 5, 6, 'mango', 1.2, 2.3, 3.4, 'banana', 'apple'}

In [51]:
# .pop in set
# it will remove any random element in set
a = {199,762,87,4,5,6,"apple",'banana','mango','orange',12,2.3,3.4}

b = a.pop()
print(a)
print(b)

{'mango', 4, 5, 6, 199, 2.3, 3.4, 'banana', 12, 'apple', 87, 762}
orange

In [52]:
# .union in set
# return a set containing the union of sets
a = {1,2,3,4,5,6}
b = {5,6,7,8,9,10}
print(a)
print(b)

x = a.union(b)
print(x)

{1, 2, 3, 4, 5, 6}
{5, 6, 7, 8, 9, 10}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [53]:
# .update in set
a = {10,20,30,40,50}
b = {100,200,300,400,500}
c = {'apple','banana','mango','orange','papaya'}
a.update(b)
print(a,"\n")

a.update(c)
print(a)

{100, 40, 200, 10, 300, 400, 50, 20, 500, 30}

{'orange', 'mango', 100, 40, 200, 10, 300, 'banana', 400, 'apple', 50, 20, 500, 'papaya', 30}

In [54]:
# .intersection
# it returns a set of common elements in all the sets given
a = {100,200,515,645}
b = {234,100,234,454,200}
c = {100,2,3,4,5,200,345,5,654,456}

a.intersection(b,c)

{100, 200}

In [55]:
# .intersection_update
# it removes the elements that are not present in other sets
a = {'apple','banana','mango'}
b = {'cherry','orange','apple'}
c = {'papaya','apple','grapes'}

a.intersection_update(b,c)
print(a)

{'apple'}

In [56]:
# .isdisjoint
# it checks if two sets have any elements in common
set1 = {1, 2, 3}
set2 = {4, 5, 6}
set3 = {3, 4, 5}

print(set1.isdisjoint(set2))
print(set1.isdisjoint(set3))

True
False

In [57]:
# .issubset
# it checks if one set is a subset of another set
set1 = {1, 2, 3}
set2 = {1, 2}
set3 = {4, 5}

print(set2.issubset(set1))
print(set3.issubset(set1))

True
False

In [58]:
# .issuperset
# it checks if one set is a superset of another set
set1 = {1, 2, 3}
set2 = {1, 2}
set3 = {4, 5}

print(set1.issuperset(set2))
print(set1.issuperset(set3))

True
False

In [59]:
# .symmetric_difference
# it checks if elements that are unique to each of two sets
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

result_set = set1.symmetric_difference(set2)

print(result_set)

{1, 2, 5, 6}

In [60]:
# .symmetric_difference_update
# this method is useful for updating a set with the elements that are unique to each of two sets
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

set1.symmetric_difference_update(set2)

print(set1)

{1, 2, 5, 6}

## Dictionary

1. Stores value/elements in key : value pair
2. It is ordered,changeable and does not allow duplicates
3. { } are used to write dictionaries
4. Items are accsesed by using keys

In [61]:
# accessing specific key using direct & get method
a = {
    "name1" : "Rohit",
    "name2" : "Sahil",
    "name3" : "Tejas",
    "name4" : "Ronit"
}
print(a)
print(type(a),"\n")
# using direct method

print(a["name3"],"\n")

# using get method

a.get("name2")

{'name1': 'Rohit', 'name2': 'Sahil', 'name3': 'Tejas', 'name4': 'Ronit'}
<class 'dict'>

Tejas

'Sahil'

In [62]:
# accessing keys and values using .keys & .values method
Dict1 = {
    "Name" : "Rohit",
    "Roll no." : 52,
    "Class" : "T.Y B.com",
    "Percentage" : 78.98
}
print(Dict1,"\n")

# accessing keys in dictonary
print('Keys in Dict1:')
print(Dict1.keys(),'\n')

# accessing values in dictonary
print('Values in Dict1:')
print(Dict1.values())

{'Name': 'Rohit', 'Roll no.': 52, 'Class': 'T.Y B.com', 'Percentage': 78.98}

Keys in Dict1:
dict_keys(['Name', 'Roll no.', 'Class', 'Percentage'])

Values in Dict1:
dict_values(['Rohit', 52, 'T.Y B.com', 78.98])

In [63]:
# adding elements in dictionary
Dict1 = {
    "Name" : "Rohit",
    "Roll no." : 52,
    "Class" : "T.Y B.com",
    "Percentage" : 78.98
}
print(Dict1,"\n")

Dict1['Mobile no.'] = 7767827724
Dict1["City"] = "Pune"
Dict1['Town'] = "Khadakwasla"
print(Dict1,"\n")

print(Dict1.keys(),'\n')
print(Dict1.values(),'\n')
print('Length of keys:',len(Dict1.keys()))
print('Length of values:',len(Dict1.values()))

{'Name': 'Rohit', 'Roll no.': 52, 'Class': 'T.Y B.com', 'Percentage': 78.98}

{'Name': 'Rohit', 'Roll no.': 52, 'Class': 'T.Y B.com', 'Percentage': 78.98, 'Mobile no.': 7767827724, 'City': 'Pune', 'Town': 'Khadakwasla'}

dict_keys(['Name', 'Roll no.', 'Class', 'Percentage', 'Mobile no.', 'City', 'Town'])

dict_values(['Rohit', 52, 'T.Y B.com', 78.98, 7767827724, 'Pune', 'Khadakwasla'])

Length of keys: 7
Length of values: 7

In [64]:
# changing values using keys
print(Dict1)

Dict1['Roll no.'] = 45
Dict1['Percentage'] = 89.71
Dict1['Town'] = 'Kolhewadi'
print('\n')
print(Dict1)

{'Name': 'Rohit', 'Roll no.': 52, 'Class': 'T.Y B.com', 'Percentage': 78.98, 'Mobile no.': 7767827724, 'City': 'Pune', 'Town': 'Khadakwasla'}


{'Name': 'Rohit', 'Roll no.': 45, 'Class': 'T.Y B.com', 'Percentage': 89.71, 'Mobile no.': 7767827724, 'City': 'Pune', 'Town': 'Kolhewadi'}

In [65]:
# .update in dictonary
# it adds one or more key:value to the dictonary

print(Dict1.items(),'\n')

Dict1.update({
    'Email Id' : 'rohitshede000@gmail.com',
    'Subject' : "English"
})
print(Dict1.items())

dict_items([('Name', 'Rohit'), ('Roll no.', 45), ('Class', 'T.Y B.com'), ('Percentage', 89.71), ('Mobile no.', 7767827724), ('City', 'Pune'), ('Town', 'Kolhewadi')])

dict_items([('Name', 'Rohit'), ('Roll no.', 45), ('Class', 'T.Y B.com'), ('Percentage', 89.71), ('Mobile no.', 7767827724), ('City', 'Pune'), ('Town', 'Kolhewadi'), ('Email Id', 'rohitshede000@gmail.com'), ('Subject', 'English')])

## Operators

* operators are symbols which perform certain operations
    Python operators
    
1) Arithmetic operators
2) Assignment operators
3) Comparison operators
4) Logical operators
5) Identity operators
6) Membership operators
7) Bitwise operators

### Arithmetic operators

1) Addition +
2) Subtraction -
3) Multiplication *
4) Division /
5) Modulus %
6) Exponentiation **
7) Floor division //

In [66]:
x = 22
y = 7

# Addition
z = x + y
print("Addition of x and y:",z,'\n')

# Subtraction
z = x - y
print("Subtraction of x and y:",z,'\n')

# Multiplication
z = x * y
print("Multiplication of x and y:",z,'\n')

# Division
z = x / y
print("Division of x and y:",z,'\n')

# Modulus
z = x % y
print("Modulus of x and y:",z,'\n')

# Exponentiation
z = x ** y
print("Exponentiation of x and y:",z,'\n')

# Floor division
z = x // y
print("Floor division of x and y:",z,'\n')

Addition of x and y: 29

Subtraction of x and y: 15

Multiplication of x and y: 154

Division of x and y: 3.142857142857143

Modulus of x and y: 1

Exponentiation of x and y: 2494357888

Floor division of x and y: 3

## Assignment operators

1) simple assign     (x = 5)
2) Add & assign      (x += 5)
3) Sub & assign      (x -= 5)
4) multi & assign    (x *= 5)
5) divide & assign   (x /= 5)
6) modulus & assign  (x %= 5)
7) floor d & assign  (x //= 5)
8) exponent & assign (x **= 5)

In [67]:
#simple assign
x = 50
x

50

In [68]:
#Add & assign
x += 100
x

150

In [69]:
#Sub & assign
x -= 75
x

75

In [70]:
#Multi & assign
x *= 5
x

375

In [71]:
#Divide & assign
x /= 10
x

37.5

In [72]:
#Modulo & assign
x %= 5
x

2.5

In [73]:
#Floor division & assign
x //= 1
x

2.0

In [74]:
#Exponent & assign
x **= 10
x

1024.0

## Comparison operators
1. Equal to:- (==)
2. Not equal to:- (!=)
3. Greater than:- (>)
4. Less than:- (<)
5. Greater  than or equal to:- (>=)
6. Less than or equal to:- (<=)

In [75]:
a = 250
b = 45

print("Equal to operator:-",a == b,'\n')

print("Not equal to operator:-",a != b,'\n')

print("Greater than operator:-",a > b,'\n')

print("Less than operator:-",a < b,'\n')

print("Greater than or equal to operator:-",a >= b,'\n')

print("Less than or equal to operator:-",a <= b,'\n')

Equal to operator:- False

Not equal to operator:- True

Greater than operator:- True

Less than operator:- False

Greater than or equal to operator:- True

Less than or equal to operator:- False

## Logical operators

1. and   (Returns True if both statements are true)
2. or    (Returns True if one of the statements is true)
3. not   (Reverse the result, returns False if the result is true)

In [76]:
x = 10 

# and operator  
print('and operator:')
print(x < 11 and x > 12)
print(x < 21 and x > 9,'\n')

# or operator
print('or operator:')
print(x < 19 or x > 1)
print(x < 1 or x > 44,'\n')

# not operator
print('not operator:')
print(not x < 12)
print(not x > 56 )

and operator:
False
True

or operator:
True
False

not operator:
False
True

## Identity operator 

1. is (Returns True if both variables are the same object)
2. is not (Returns True if both variables are not the same object)

In [77]:
# is operator

x = 125
y = 125
print(x is y,'\n')

a = 123
b = 987
print(a is b)

True

False

In [78]:
# is not operator

x = 155
y = 255
print(x is not y,'\n')

a = 100
b = 100
print(a is not b)

True

False

## Membership operators

1. in (Returns True if a sequence with the specified value is present in the object)
2. not in (Returns True if a sequence with the specified value is not present in the object)

In [79]:
# in 
# Returns True if a sequence with the specified value is present in the object
a = [10,20,30,40,50,60,70,80,90]

print(a,'\n')

print(10 in a)
print(55 in a)
print(90 in a)
print(11 in a)

[10, 20, 30, 40, 50, 60, 70, 80, 90]

True
False
True
False

In [80]:
# not in
# Returns True if a sequence with the specified value is not present in the object
a = [11,22,33,44,55,66,77,88,99]

print(a,'\n')

print(11 not in a)
print(12 not in a)
print(88 not in a)
print(54 not in a)

[11, 22, 33, 44, 55, 66, 77, 88, 99]

False
True
False
True

## Bitwise operators

1. (&)	AND	Sets each bit to 1 if both bits are 1
2. (|)	OR	Sets each bit to 1 if one of two bits is 1
3. (^)	XOR	Sets each bit to 1 if only one of two bits is 1
4. (~)	NOT	Inverts all the bits
5. (<<)	Zero fill left shift	Shift left by pushing zeros in from the right and let the leftmost bits fall off
6. (>>)	Signed right shift	Shift right by pushing copies of the leftmost bit in from the left, and let the rightmost bits fall off

In [81]:
x = 3
y = 2

z = x & y
print(z)

2

# complete it later

## Conditional statements and Loops 

1. if , else
2. if , elif , else
3. while loop
4. for loop

### if else

In [82]:
# if else condition

#1)
a = 50
b = 75

if a > b:
    print('a is greater than b')
else:
    print('b is greater than a')
print('\n')

#2)
x = 257
y = 452

if x < y: 
    print('x is less than y')
else:
    print('y is greater than x')
print('\n')

#3)
c = 999
d = 999

if c != d:
    print('c is not equal to d')
else:
    print('c is equal to d')

b is greater than a


x is less than y


c is equal to d

### if elif else

In [83]:
# if elif else condition
# you can add as many elif as you want

#1)
a = 45
b = 67

if a > b:
    print('a is greater than b')
elif a < b:
    print('a is less than b')
else:
    print('b is greater than a')
print('\n')

#2)
x = 98
y = 98

if x != y:
    print('x is not equal to y')
elif x < y:
    print('x is less than and equal to y')
elif x == y:
    print('x is equal to y')
else:
    print('y is equal to x')
print('\n')    

#3)
c = 34
d = 89

if c == d:
    print('c is equal to d')
elif c > d:
    print('c is greater than d')
elif d < c:
    print('d is less than c')
elif c != d:
    print('c is not equal to d')
else:
    print('c is less than d')

a is less than b


x is equal to y


c is not equal to d

In [84]:
# short hand if statement
#1)
x = 15
y = 20

if x < y: print('x is less than y','\n')
    
#2)
a = 23
b = 23

if a == b: print('a is equal to b','\n')
    
#3)
c = 78
d = 34

if c > d: print('c is greater than d')

x is less than y

a is equal to b

c is greater than d

In [85]:
# short hand if else statement
#1)
x = 34
y = 56

print(('x is greater than y'),'\n')if x > y else print(('x is less than y'),'\n')

#2)
a = 54
b = 56

print (('a is not equal to b'),'\n') if a != b else print(('a is equal to b'),'\n')

#3)
c = 78
d = 78

print('c is not equal to d') if c != d else print('c is equal to d ')

x is less than y

a is not equal to b

c is equal to d

In [86]:
# pass statement

x = 78
y = 67

if x < y:
    print("x is greater than y")
pass

## while loop

In [87]:
# print series of numbers

a = 0

while a <= 10:
    print(a)
    a = a + 1

0
1
2
3
4
5
6
7
8
9
10

In [88]:
# break statement

x = 1

while x <= 20:
    print(x)
    if x == 12:
        break
    x = x + 1

1
2
3
4
5
6
7
8
9
10
11
12

In [89]:
# continue statement

x = 1

while x <= 20:
    
    if x == 15 or x == 8:
        x += 1
        continue
    print(x)
    x += 1

1
2
3
4
5
6
7
9
10
11
12
13
14
16
17
18
19
20

In [90]:
# else below while

x = 1

while x <= 20:
    
    if x == 12:
        x += 1
        continue
    print(x)
    x += 1
else:       
    print("its enough")

1
2
3
4
5
6
7
8
9
10
11
13
14
15
16
17
18
19
20
its enough

In [91]:
# while loop on list

list1 = ['apple','banana','mango','cherry','papaya','strawberry','orange']
print(list1,'\n')

print('While loop on list:\n ')

x = 0
while x < len(list1):
    print(list1[x])
    x += 1

['apple', 'banana', 'mango', 'cherry', 'papaya', 'strawberry', 'orange']

While loop on list:

apple
banana
mango
cherry
papaya
strawberry
orange

In [92]:
# while loop on tuple

a = ('rohit','tejas','ronit','sahil','ganesh', 'dhiraj')
print(a,'\n')
print('While loop on tuple:\n ')

x = 0
while x < len(a):
    print(a[x])
    x += 1

('rohit', 'tejas', 'ronit', 'sahil', 'ganesh', 'dhiraj')

While loop on tuple:

rohit
tejas
ronit
sahil
ganesh
dhiraj

## For loop

In [93]:
# for loop

a = ('rohit','tejas','ronit','sahil','ganesh', 'dhiraj')

for r in a:
    print(r)

rohit
tejas
ronit
sahil
ganesh
dhiraj

In [94]:
# if statement in for loop
# with this we can print any element in data type
a = ('rohit','tejas','ronit','sahil','ganesh', 'dhiraj')

for i in a:
    if i == "ganesh":
        print(i)

ganesh

In [95]:
## for loop
a = "Python"
print(a,'\n')

for characters in a:
    print(characters)

Python

P
y
t
h
o
n

In [96]:
# for loop in tuple

a = (10,3,40,67,89,70,29,10,90)

for i in a:
    
    if i == 67:
        #break
        continue
    print(i)

10
3
40
89
70
29
10
90

In [97]:
# for loop in ditionary

Dict1 = {
    "Name" : "Rohit",
    "Roll no." : 52,
    "Class" : "T.Y B.com",
    "Percentage" : 78.98
}
print('keys: ')
for i in Dict1: # it will print keys by default
    print(i)
print('\n')

print('values: ') # it will print values
for i in Dict1:
    print(Dict1[i])
print('\n')

print('Another method to print keys and values')
for keys in Dict1.keys(): # another method to print keys and values 
    print(keys)
print('\n')
    
print('Keys and values pairs: ')
for keys, values in Dict1.items():
    print(keys,':',values)

keys:
Name
Roll no.
Class
Percentage


values:
Rohit
52
T.Y B.com
78.98


Another method to print keys and values
Name
Roll no.
Class
Percentage


Keys and values pairs:
Name : Rohit
Roll no. : 52
Class : T.Y B.com
Percentage : 78.98

## Range function

In [98]:
# range
for i in range(21):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [99]:
# range('val','to value')

for i in range(50,61):
    print(i)

50
51
52
53
54
55
56
57
58
59
60

In [100]:
# range('val','to value','skip steps value')

for i in range(0,21,2):
    print(i)

0
2
4
6
8
10
12
14
16
18
20

## Def

In [101]:
# calling the function 
def stud(name):
    print("My name is",name)
    
stud("Rohit")
stud("Sahil")

My name is Rohit
My name is Sahil

In [102]:
# return

def mul(a,b):
    result = a * b
    return result

x = 5
y = 55
res = mul(x,y)
print('Multiplication of a & b: ',res)

Multiplication of a & b:  275

In [103]:
# unknown parameters

def display(*letter):
    print(letter)
    for i in letter:
        print(i)
    
display('a','b','c','d','e','f')

('a', 'b', 'c', 'd', 'e', 'f')
a
b
c
d
e
f

## Lambda

In [104]:
a = lambda num : num ** 2

print(a(5))

25

In [105]:
def myfun(n):
    print("Value of n: ",n)
    return (lambda a : a ** n)

otherfun = myfun(2)
print(otherfun(19))

Value of n:  2
361

## Class

In [106]:
# simple class example
class student():
    #properties
    name = "Rohit Shede"
    roll_no = 52
    age = 22
    section = "B"
# object    
obj1 = student()
print("Name:",obj1.name)
print("Roll no.:",obj1.roll_no)
print("Age:",obj1.age)
print("Section:",obj1.section)

Name: Rohit Shede
Roll no.: 52
Age: 22
Section: B

In [107]:
# real class function

class student():
    def __init__(self, name, roll_no, mobile_no, age):
        self.name = name
        self.roll_no = roll_no
        self.mobile_no = mobile_no
        self.age = age
            
obj_1 = student("Rohit Shede", 52, 7767827724, 22)
obj_2 = student("Sahil Raskar", 23, 9887675643, 20)
obj_3 = student("Ronit Pawar", 45, 9797578965, 20)

print("Student Name:",obj_1.name)
print('Roll No.:',obj_1.roll_no)
print('Mobile No.:',obj_1.mobile_no)
print('Age:',obj_1.age,'\n')

print("Student Name:",obj_2.name)
print('Roll No.:',obj_2.roll_no)
print('Mobile No.:',obj_2.mobile_no)
print('Age:',obj_2.age,'\n')

print("Student Name:",obj_3.name)
print('Roll No.:',obj_3.roll_no)
print('Mobile No.:',obj_3.mobile_no)
print('Age:',obj_3.age)

Student Name: Rohit Shede
Roll No.: 52
Mobile No.: 7767827724
Age: 22

Student Name: Sahil Raskar
Roll No.: 23
Mobile No.: 9887675643
Age: 20

Student Name: Ronit Pawar
Roll No.: 45
Mobile No.: 9797578965
Age: 20

In [108]:
class student():
    def __init__(self, name, roll_no, age, year):
        self.name = name
        self.roll_no = roll_no
        self.age = age
        self.year = year
        
    def display(self):
        print('Name of student: ',self.name)
        print('Roll no. of student: ',self.roll_no)
        print('Age of student: ',self.age)
        print('Year of student: ',self.year)
        
    def intro(self):
        print('Hii my name is',self.name,'My age is',self.age,'\n','I am studying',self.year,'And my roll no.is',self.roll_no)
    
r = student('Rohit Shede', 52, 22, 'T.Y Bcom')
s = student('Sahil Raskar', 45, 20, 'F.Y Bcom')
t = student('Tejas Sonawane', 67, 22, 'T.Y Bcom')

r.display()
print('\n')

s.display()
print('\n')

t.display()
print('\n')

r.intro()
print('\n')

s.intro()
print('\n')

t.intro()
print('\n')

Name of student:  Rohit Shede
Roll no. of student:  52
Age of student:  22
Year of student:  T.Y Bcom


Name of student:  Sahil Raskar
Roll no. of student:  45
Age of student:  20
Year of student:  F.Y Bcom


Name of student:  Tejas Sonawane
Roll no. of student:  67
Age of student:  22
Year of student:  T.Y Bcom


Hii my name is Rohit Shede My age is 22
 I am studying T.Y Bcom And my roll no.is 52


Hii my name is Sahil Raskar My age is 20
 I am studying F.Y Bcom And my roll no.is 45


Hii my name is Tejas Sonawane My age is 22
 I am studying T.Y Bcom And my roll no.is 67

## Inheritance

In [109]:
class person: # parent class \ base class
    def __init__(self, fname, lname):
        self.fname = fname
        self.lname = lname
        
    def display(self):
        print('First name:',self.fname)
        print('Last name:',self.lname)

class student(person):# child class \ derived class
    pass

a = student('Rohit','Shede')
b = student('Sahil','Raskar')

a.display()
b.display()

First name: Rohit
Last name: Shede
First name: Sahil
Last name: Raskar

In [110]:
class person:
    def __init__(self, fname, lname, age):
        self.fname = fname
        self.lname = lname
        self.age = age
    
    def details(self):
        print(f'My name is {self.fname} {self.lname} and my age is {self.age}.')
        
        
class student(person):
    def __init__(self, fname, lname, age, _class, _rollno):
        person.__init__(self, fname, lname, age)
        self._class = _class
        self._rollno = _rollno
        
    def studdetails(self):
        print(f'My name is {self.fname} {self.lname} and my age is {self.age}. I am studying in {self._class} and my roll no is {self._rollno}')
    
a = student('Rohit', 'Shede', 21, 'T.Y Bcom', 52)
b = student('Sahil', 'Raskar', 19, 'S.Y Bcom', 34)

b.details()
a.studdetails()

My name is Sahil Raskar and my age is 19.
My name is Rohit Shede and my age is 21. I am studying in T.Y Bcom and my roll no is 52

## Iterator

In [111]:
a = [1,2,3,4,5,6]

x = iter(a) # typecasting into iterator

print(type(x))

print(next(x))
print(next(x))
print(next(x))
print(next(x))
print(next(x))
print(next(x))

<class 'list_iterator'>
1
2
3
4
5
6

In [112]:
class iterator:
    def __iter__(self):
        self.val = 1
        return self
    
    def __next__(self):
        x = self.val
        self.val += 1
        
        if x == 21:
            raise StopIteration
            
        return x
    
a = iterator()

itr = iter(a)

for x in itr:
    print(x)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

## Scope of variable
There are two types of scopes
1. Local scope
2. Global scope

In [113]:
# Global scope
# the values that are outside the function are called global values
x = 100

def myfun():
    print(x)
    
myfun()

100

In [114]:
# Local scope
# the values that are inside the function are called local values

def myfun():
    x = 200
    print(x)
    
myfun()

200

In [115]:
# Global and local scope in one function

x = 300 # Global scope

def myfun():
    x = 200 # Local scope
    print(x)

myfun()
print(x)

200
300

In [116]:
# Global keyword

def my_fun():
    
    global x
    x = 230
    print(x)
    
my_fun()

230

In [117]:
# You can also use global keyword if you want to make a change to a global variable inside a function

x = 450

def myfunc():
    
    global x
    x = 500
    print(x)

myfunc()  
print(x)# original value of x was 450 but after using global keyword it changes to 500

500
500

## Module

In [118]:
import platform

x = platform.system()
print(x)

Windows

## Datetime module

In [119]:
import datetime as dt

x = dt.datetime.now()
print(x)

2023-11-21 12:56:44.409772

In [120]:
import datetime

print(datetime.MAXYEAR,'\n')

print(datetime.MINYEAR)

9999

1

In [121]:
x = dt.datetime.now()

print(x.day)
print(x.year)
print(x.month)
print(x.strftime('%A')) #Day
print(x.strftime('%H')) #0-23
print(x.strftime('%I')) #0-12
print(x.strftime('%p')) #AM-PM

21
2023
11
Tuesday
12
12
PM

In [122]:
z = dt.datetime(2024, 2, 29)

print(z)

2024-02-29 00:00:00

## Python math functions

In [123]:
# Returns minimum value
x = min(100,67,890,456,544,234,5322)

print(x)

67

In [124]:
# Returns maximum value
x = max(100,67,890,456,544,234,5322)

print(x)

5322

In [125]:
# Returns absolute positive value
x = abs(-679)

print(x)

679

In [126]:
# Power function
x = pow(9,6)

print(x)

531441

## Math module

In [127]:
import math 

a = math.sqrt(9)
print(a)

b = math.factorial(4)
print(b)

c = math.ceil(4.1)
print(c)

d = math.pi
print(d)

e = math.exp(5)
print(e)

3.0
24
5
3.141592653589793
148.4131591025766

## JSON module

JavaScript Object Notation

In [128]:
# JSON to object
import json
#JSON
a = '{"name": "Rohit", "age": 22, "class": "T.Y Bcom", "roll no": 52, "owns laptop": true, "owns gaming pc": false, "favourite movie": null, "favourite anime": [{"1st anime": "Naruto", "character": "Naruto"}, {"2nd anime": "One Piece", "character": "Luffy"}]}'

print(a)
print(type(a),'\n')

b = json.loads(a)
print(b)
print(type(b))

{"name": "Rohit", "age": 22, "class": "T.Y Bcom", "roll no": 52, "owns laptop": true, "owns gaming pc": false, "favourite movie": null, "favourite anime": [{"1st anime": "Naruto", "character": "Naruto"}, {"2nd anime": "One Piece", "character": "Luffy"}]}
<class 'str'>

{'name': 'Rohit', 'age': 22, 'class': 'T.Y Bcom', 'roll no': 52, 'owns laptop': True, 'owns gaming pc': False, 'favourite movie': None, 'favourite anime': [{'1st anime': 'Naruto', 'character': 'Naruto'}, {'2nd anime': 'One Piece', 'character': 'Luffy'}]}
<class 'dict'>

In [129]:
# object(dict) to JSON
import json
# Object
x = {
    'name' : 'Rohit',
    'age' : 22,
    'class' : 'T.Y Bcom',
    'roll no' : 52,
    'owns laptop' : True,
    'owns gaming pc' : False,
    'favourite movie' : None,
    'favourite anime' : [
        {'1st anime' : 'Naruto', 'character' : 'Naruto'},
        {'2nd anime' : 'One Piece', 'character' : 'Luffy'}
    ]
}

print(x)
print(type(x),'\n')

y = json.dumps(x,indent = 1)
print(y)
print(type(y))

{'name': 'Rohit', 'age': 22, 'class': 'T.Y Bcom', 'roll no': 52, 'owns laptop': True, 'owns gaming pc': False, 'favourite movie': None, 'favourite anime': [{'1st anime': 'Naruto', 'character': 'Naruto'}, {'2nd anime': 'One Piece', 'character': 'Luffy'}]}
<class 'dict'>

{
 "name": "Rohit",
 "age": 22,
 "class": "T.Y Bcom",
 "roll no": 52,
 "owns laptop": true,
 "owns gaming pc": false,
 "favourite movie": null,
 "favourite anime": [
  {
   "1st anime": "Naruto",
   "character": "Naruto"
  },
  {
   "2nd anime": "One Piece",
   "character": "Luffy"
  }
 ]
}
<class 'str'>

In [130]:
import json

a = (1,2,3,4,5,6,'hii','hello',2.3,33.4)

b = json.dumps(a)
print(b)
print(type(b))

[1, 2, 3, 4, 5, 6, "hii", "hello", 2.3, 33.4]
<class 'str'>

In [131]:
import json

x = '[1,2,3,"hii"]'

y = json.loads(x)
print(y)
print(type(y))

[1, 2, 3, 'hii']
<class 'list'>

## Regular Expression or RegEx

A RegEx, or Regular Expression, is a sequence of characters that forms a search pattern.
RegEx can be used to check if a string contains the specified search pattern.

In [132]:
import re

x = 'Hi my name is Rohit, How are you?'

y = re.search('^H.*?$',x)

if x:
    print(True)
else:
    print(False)

print(y.span())
print(y.start())
print(y.end())
print(y.string)
print(y.group())

True
(0, 33)
0
33
Hi my name is Rohit, How are you?
Hi my name is Rohit, How are you?

In [133]:
# object(dict) to JSON
# use of separtors
import json
# Object
x = {
    'name' : 'Rohit',
    'age' : 22,
    'class' : 'T.Y Bcom',
    'roll no' : 52,
}

print(x)
print(type(x),'\n')

y = json.dumps(x,indent=2,separators=('+','-'))
print(y)
print(type(y))

{'name': 'Rohit', 'age': 22, 'class': 'T.Y Bcom', 'roll no': 52}
<class 'dict'>

{
  "name"-"Rohit"+
  "age"-22+
  "class"-"T.Y Bcom"+
  "roll no"-52
}
<class 'str'>

In [134]:
import re

a = "python is easy programming language to learn"

x = re.findall('l',a)
print(x)

['l', 'l']

In [135]:
txt = "The python programming"

x = re.search("py",txt)

print(x.start())

4

In [136]:
import re

z = "python is easy programming language to learn"
x = re.search("\s", z)

print("The first white-space character is located at position:", x.start())

The first white-space character is located at position: 6

In [137]:
z = "python is easy programming language to learn"

x = re.split('\s',z)
print(x)

['python', 'is', 'easy', 'programming', 'language', 'to', 'learn']

In [138]:
z = "python is easy programming language to learn"

x = re.sub('\s','!!',z)
print(x)

python!!is!!easy!!programming!!language!!to!!learn

## Exception Handling

In [139]:
# while True:
#     print("hello world")

In [140]:
while True:
    try:
        x = int(input('Enter a number: '))
        break
    except ValueError:
        print('Wrong input')
        
print("Hello world..!")

Enter a number: 12
Hello world..!

In [141]:
x = int(input('Enter a number: '))

if x < 100:
    raise Exception("No value below 100")

Enter a number: 121

In [142]:
x = 1

if type(x) is not int:
    raise Exception("Only int values are allowed")

In [143]:
x = 2

if not type(x) is int:
    raise TypeError("No strings allowed")

## Formatting

In [144]:
price = 100

x = 'The value of that bottle is {:.2f}'

print(x.format(price))

The value of that bottle is 100.00

In [145]:
a = 22
b = 'Rohit'

print("His name is {1}. {1}'s age is {0}".format(a,b))

His name is Rohit. Rohit's age is 22

In [146]:
a = "I love {anime}, my fvourite character from {anime} is {character} "
print(a.format(anime = 'One Piece', character = '"Roronoa Zoro"'))

I love One Piece, my fvourite character from One Piece is "Roronoa Zoro"

## File handeling

In [147]:
a = open("./rohit.txt")

print(a.read())

this is an added string to existing filethis is an added string to existing filethis is an added string to existing file

In [148]:
a = open("./rohit.txt","a")

b = "this is an added string to existing file"

a.write(b)
a.close()

a = open("./rohit.txt")
print(a.read())

this is an added string to existing filethis is an added string to existing filethis is an added string to existing filethis is an added string to existing file